#header
  %h1 Points list
#content
  = button_to 'Create point', new_article_path, method: :get
  %table.points
    %tr
      %th
        id
      %th
        lat
      %th
        lng
    - @points.each do |point|
      %tr
        %td
          = link_to point.id, article_path(point)
        %td
          = point.lat
        %td
          = point.lng
#footer
  = link_to 'To welcome page', welcome_index_path
